beautifulsoup4==4.15.0
bs4==0.0.2
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.4.2
futures==3.0.5
goslate==1.5.4
idna==3.18
PyDictionary==2.0.1
pygame==2.6.1
randomword==1.0.2
requests==2.34.2
soupsieve==2.9.2
typing_extensions==4.16.0
urllib3==2.7.0
wonderwords==3.0.1
